<div class="component-timeline">
  <div class="component-timeline-item">
    <div class="font-semibold">Submitted</div>
    <div class="text-sm text-slate-500">Offer Owner • Nov 13, 08:12</div>
  </div>
  <div class="component-timeline-item">
    <div class="font-semibold">Department Head Review</div>
    <div class="text-sm text-slate-500">Dennis Shaw • Nov 13, 10:05</div>
  </div>
  <div class="component-timeline-item">
    <div class="font-semibold">Finance Review</div>
    <div class="text-sm text-slate-500">Sarah Brown • Nov 13, 13:44</div>
  </div>
  <div class="component-timeline-item">
    <div class="font-semibold">Management Approval</div>
    <div class="text-sm text-slate-500">Paula Nolan • Nov 13, 16:58</div>
  </div>
</div>

